<div data-id="{{id}}" data-level="{{path}}" class="cat-entry cat-{{id}} level-{{path}} {{#if hasChildren}}has-children{{/if}}">
  <span class="expand-cat">
    <img src="{{icon.prefix}}bg_32{{icon.suffix}}" />
  </span>
  <a href="javascript:" class="cat-link" data-id="{{id}}">
    {{name}}
  </a>
</div>
